<div class="main">
    @if (isLoading()) {
      <div class="loader"></div>
    } @else if (errorMessage()) {
      <div class="container error">Une erreur est survenue: <strong>'{{ errorMessage() }}'</strong></div>
    } @else {
      <div class="container">
        <blockquote class="quote"><q>{{ randomCitation()?.translated_quote ?? "..." }}</q></blockquote>
        <p class="author">- {{ randomCitation()?.author ?? "..." }}</p>
      </div>
      <button class="btn" (click)="getNewRandomCitation()">Next Quote</button>
    }
</div>
<router-outlet />